<div class="grid">
  <div class="unit unit25">
    <div class="card">
      <h6>Hours this month</h6>
      <h5>64</h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Monthly profit</h6>
      <h5>£2,895.25</h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Active projects</h6>
      <h5>3</h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Completed projects</h6>
      <h5>21</h5>
    </div>
  </div>
</div>
