<div class="page-title">
  <%= link_to 'New Client', new_client_path, class: 'btn btn-primary pull-right' %>
  <h1>Clients</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Client</th>
    <th style="text-align: right;">Projects</th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td>
        <%= link_to client.name, client_path(client) %>
      </td>
      <td align="right">
        <span class="badge green"><%= client.project_count %></span>
      </td>
    </tr>
  <% end %>
</table>
